# ignore this files
*Mock Up Dashboard.pdf
*project details codebasics 1-0.png
*project details codebasics 1-1.png
*project details chatgpt.txt
*Project Report.docx
*insights gotten.txt
*Project Report.docx
*Dashboard Documentaton.docx


